# Clerk - من clerk.com
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YXdhcmUtaGFsaWJ1dC01MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_uBznwC8cgB0cIJhXFOEYZ5ZuBzyVr4TJAf7IPYpQKF

# Clerk Redirect URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/chat
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/chat

# n8n Webhook
NEXT_PUBLIC_N8N_WEBHOOK_URL=http://localhost:5678/webhook/civil-assistant
